.left {
  flex: 4 1 0;
}

.right {
  flex: 5 1 0;
  background: #ffeff2;
}

.title {
  flex: 1 1 0;
  background: #ffeff2;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8rem;
}
