@import "~@theme/colors";

.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;

  .top {
    flex-grow: 1;
  }

  a:hover {
    background: 0 0;
  }
}

.description {
  color: darken(white, 30%);
  font-size: 0.9rem;
}

.icon {
  color: fadeout(white, 50%);
  float: right;
}

.students {
  .emoji {
    margin-left: 0.5rem;
  }
}

.menu {
  font-size: 0.9rem;
}
