.videos {
  display: flex;
  flex-direction: row wrap;
  margin-right: -2rem;
}

.videos > * {
  margin-right: 2rem;
}

.video {
  position: relative;
  flex-grow: 1;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -1.5rem;
  margin-top: 2rem;
  & > * {
    margin-right: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.description {
  font-size: 1.5rem;
  margin-top: 0;
}
