.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #d5d6d8;
}

.table thead {
  background: rgb(55, 47, 46);
  border-color: rgb(55, 47, 46);
  color: rgb(209, 209, 209);
  font-weight: bold;
}

.table thead td,
.table thead th {
  border-color: rgb(104, 92, 91);
}
