.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.height-100-percent {
  height: 100%;
}

.spaced-list > * {
  margin-bottom: 1.5rem;
}

.spaced-list > *:last-child {
  margin-bottom: 0;
}

.italic {
  font-style: italic;
}
