@import "~@theme/common";
@import "~@theme/spacings";
@import "~@theme/colors";
@import "~@theme/responsive";
@import "~@theme/breakpoints";

*,
:after,
:before {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

html {
  line-height: @line-height !important;
  font-family: @font-family !important;
  font-size: @font-size;
  color: @chocolate;

  background: white;
  width: 100%;
  min-width: 610px;
  min-height: 100vh;

  &:global(.normal) {
    font-size: @font-size;
  }

  &:global(.extra) {
    font-size: @font-size-extra;
  }

  &:global(.blindness) {
    * {
      background: white !important;
      border-color: black !important;
      &:not(a) {
        color: black !important;
      }
      a {
        color: @blue;
        border-width: 2px !important;

        border-color: lighten(@blue, 40%) !important;
        &:hover {
          color: darken(@blue, 10%);
          border-color: @blue !important;
        }
      }
    }
  }
}

a {
  cursor: pointer;
  color: @blue;
  border-bottom: 1px solid fadeout(@blue, 80%);
  text-decoration: none;
  &:hover {
    border-color: fadeout(@blue, 50%);
    background: fadeout(@blue, 92%);
  }
}

small {
  font-size: 90% !important;
  line-height: 90%;
}

.main {
  flex-grow: 1;
  margin-top: 1rem;
  &.centered {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.sidebar {
  width: 250px;
  background: @chocolate;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  height: 100vh;
  transition: 0.2s all ease-in-out;
  min-height: 100%;
  height: 100vh;
  overflow-y: auto;
  color: @pale-cherry;

  a {
    color: fadeout(white, 15%);
    border-color: fadeout(white, 65%);
    &:hover {
      color: white;
      border-color: fadeout(white, 30%);
    }
  }

  .sidebarInner {
    padding: 1rem;
  }
}

.reveal {
  position: fixed;
  left: 0;
  transition: 0.2s all ease-in-out;
  background: @chocolate;
  z-index: 999;
  padding: 1rem;
  top: 0;
  transform: translateX(-100px);

  .revealButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: darken(@pale-cherry, 10%);
    &:hover {
      color: @pale-cherry;
    }
  }

  &.active {
    background: darken(@chocolate, 5%);
  }
}

@media screen and (max-width: 1100px) {
  .sidebar {
    transform: translateX(-300px);

    &.active {
      transform: translateX(0);
      box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.27);
    }
  }

  .page {
    padding-left: 0 !important;
  }

  .reveal {
    transform: translateX(0);

    &.active {
      transform: translateX(250px);
    }
  }

  .headerInner {
    padding-left: 80px;
  }
}

.page {
  padding-left: 250px;
  min-height: 100vh;
  header {
    background: fadeout(black, 99%);
  }
}

.footer {
  background: darken(@chocolate, 3%);
  color: fadeout(white, 10%);

  a {
    color: fadeout(white, 60%);
    border-color: fadeout(white, 90%);
    &:hover {
      color: white;
      background: transparent;
      border-color: fadeout(white, 30%);
    }
  }
}

.hero {
  padding: 1.5rem 0;
  padding-top: 2rem;
  .description {
    margin: 0;
    opacity: 0.7;
    font-size: 1.3rem;
  }
}

:global(.page-transition-enter) {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}
:global(.page-transition-enter-active) {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms, transform 300ms;
}
:global(.page-transition-exit) {
  opacity: 1;
}
:global(.page-transition-exit-active) {
  opacity: 0;
  transition: opacity 300ms;
}
:global(.loading-indicator-appear),
:global(.loading-indicator-enter) {
  opacity: 0;
}
:global(.loading-indicator-appear-active),
:global(.loading-indicator-enter-active) {
  opacity: 1;
  transition: opacity 400ms;
}
