@import "~@theme/colors";

.alert {
  padding: 1rem 1.3rem;
  background: lighten(@pale-cherry, 3%);
  color: @chocolate;
  border-radius: 3px;
  &.error {
    background: rgba(233, 111, 111, 0.2);
  }
  &.info {
    background: #e4f1ff;
    color: #004085;
  }
}
