@import "~@theme/colors";

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: -0.6rem;
  & > * {
    margin-bottom: 0.6rem;
  }

  &.horizontal {
    flex-direction: row;
    & > * {
      margin-right: 1rem;
      margin-bottom: 0.6rem;
    }
  }
}

.item {
  display: inline-flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid transparent;
  &.clickable {
    color: fadeout(@deep-violet, 20%);
    cursor: pointer;
    &.active {
      border-bottom: 1px solid fadeout(@deep-violet, 60%);
    }
    &:hover {
      color: @deep-violet;
      .icon {
        color: @deep-violet;
      }
    }
  }
}

.icon {
  margin-right: 0.5rem;
  align-items: self-end;
  color: fadeout(@deep-violet, 60%);
}
